/*GLOBAL*/

html {
    font-size : 62.5%;
}

body{
    width: 100%;
}

/*HEADER*/



header{
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
}

header section{
    padding:auto;
}
header nav {
    width: auto;
    box-sizing: content-box;
}

header nav a {
	color: black;
	padding: 10px 15px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

header section div{
    display:inline-block;
    width: auto;
    margin: auto;
    padding: 30px;
    
}

.logo{
    padding: 30 PX;
    background-color: white;
    border-color: #163e35;
    border: 3px;
}

*/

img{
    height: 62px;
    width: auto;
}
  .site-header {
    position: relative;
    background-color: #def7ff; }
    
 
 h2 {
   vertical-align: center;
   text-align: center;
 }
 
 html, body {
   margin: 0;
   height: 100%;
 }
 
 * {
   font-family: "Roboto";
   box-sizing: border-box;
 }
 
 .top-nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-color: #00BAF0;
   background: linear-gradient(to left, #0D0DFF, #12B3A9);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   color: #FFF;
   height: 50px;
   padding: 1em;
 }
 
 img{
    width: auto;
    height: 100px;
 }
 .menu {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   margin: 0;
   padding: 0;
   z-index: 1000;
 }
 
 .menu > li {
   margin: 0 1rem;
   overflow: hidden;
 }
 .menu li a {
    color:black;
    text-decoration: none;
   }
 .menu-button-container {
   display: none;
   height: 100%;
   width: 30px;
   cursor: pointer;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
 
 #menu-toggle {
   display: none;
 }
 
 .menu-button,
 .menu-button::before,
 .menu-button::after {
   display: block;
   background-color: #fff;
   position: absolute;
   height: 4px;
   width: 30px;
   transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
   border-radius: 2px;
 }
 
 .menu-button::before {
   content: '';
   margin-top: -8px;
 }
 
 .menu-button::after {
   content: '';
   margin-top: 8px;
 }
 
 #menu-toggle:checked + .menu-button-container .menu-button::before {
   margin-top: 0px;
   transform: rotate(405deg);
 }
 
 #menu-toggle:checked + .menu-button-container .menu-button {
   background: rgba(0, 134, 255, 100);

 }
 
 #menu-toggle:checked + .menu-button-container .menu-button::after {
   margin-top: 0px;
   transform: rotate(-405deg);
 }


 
 @media (max-width: 700px) {
   .menu-button-container {
     display: flex;
   }
   .menu {
     position: absolute;
     top: 0;
     margin-top: 50px;
     left: 0;
     flex-direction: column;
     width: 100%;
     justify-content: center;
     align-items: center;
   }
   #menu-toggle ~ .menu li {
     height: 0;
     margin: 0;
     padding: 0;
     border: 0;
     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
   }
   #menu-toggle:checked ~ .menu li {
     border: 1px solid rgb(250, 247, 247);
     height: 2.5em;
     padding: 0.5em;
     transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
     border-style: ridge;

   }
   .menu > li {
     display: flex;
     justify-content: center;
     margin: 0;
     padding: 0.5em 0;
     width: 100%;
     color: white;
     background-color: rgb(31, 153, 224);
     
   }
   .menu > li:not(:last-child) {
     border-bottom: 1px solid #444;

   }
   .menu li a {
    color:black;
    font-style: roboto;
   }
 }

/*Main*/
   
    /*CAROUSSEL*/
 .carousel-item{
  height:32rem;
  background: #777;
  color:white;
  position: relative;
  /*Pour les images*/
  background-position: center;
  background-size: cover;
  transform : 1s ease,-webkit-transform 1s ease;
 }

.container{
  position:absolute;
  bottom: 0;
  left:0;
  right:0;
  padding-bottom: 50px;
  
 
}

.overlay-image{
  position:absolute;
  bottom: 0;
  left:0;
  right:0;
  top:0;
  background-position: center;
  background-size: cover;
  opacity:0.5;
  
}

/*Section*/

.blog{
  margin:0px;
  padding:0px;
  font-family: poppins;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
ul{
  list-style: none;
}
/*section*/

 section#blog{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

div.blog-heading{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.blog-heading span{
  color: #f33c3C;
}

div.blog-heading h3{
  font-size:2.4rem;
  color:#2b2b2B;
  font-weight:600.
}
div.blog-container{
  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
  flex-wrap: nowrap;
}

div.blog-box{
  width:350px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin:20px;

  display:flex;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 0px;
  flex-wrap: nowrap;

}

div.blog-box:nth-child(1){
-webkit-order: 0;
-ms-flex-order: 0;
order: 0;
-webkit-flex: 0 1 auto;
-ms-flex: 0 1 auto;
flex: 0 1 auto;
-webkit-align-self: auto;
-ms-flex-item-align: auto;
align-self: auto;
}
div.blog-box:nth-child(2){
  -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

div.blog-box:nth-child(3){
  -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

div.blog-img{
  width: 100%;
  height:auto;
}

div.blog-img img{
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

div.blog-text{
  padding:30px;
  display:flex;
  flex-direction: column;
 /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px;*/
  border-radius: 20px;
/*margin-right: 30px;*/

}

div.blog-text span{
  color:#f33c3C;
  font-size: 0.9rem;
}

div.blog-text a.blog-title{
  font-size: 1.3rem;
  font-weight: 500;
  color:#272727;
}

div.blog-text a.blog-title:hover{
  color:#f33c3C;
  transition: all ease 0.3s;
}
div.blog-text p{
  color:#9b9b9B;
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0px;
}

div.blog-text a{
  color: #0f0f0f;
}

div.blog-text a:hover{
  color:#f33c3C;
  transition: all ease 0.3s;
}

/*FOOTER*/
footer{
  background: linear-gradient(to left, #0D0DFF, #12B3A9);
}
footer #copyright {
  color: #fff;
}

#icons{

  font-size: 10px;

}
/*----------------------------------------------------
-----------Revenir sur le responsive des articles IPAD et Telephone
------------------------------------------------------*/

/*-----------------------------------------------------
---------- ERREUR 404-------------------------
-------------------------------*/



/*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  overflow:hidden;
  background-color: #f4f6ff;
}*/

.container404{
  width:100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;
  left:6vmin;
  text-align: center;
}

.cog-wheel1, .cog-wheel2{
  transform:scale(0.7);
}

.cog1, .cog2{
  width:40vmin;
  height:40vmin;
  border-radius:50%;
  border:6vmin solid #f3c623;
  position: relative;
}


.cog2{
  border:6vmin solid #4f8a8b;
}

.top, .down, .left, .right, .left-top, .left-down, .right-top, .right-down{
  width:10vmin;
  height:10vmin;
  background-color: #f3c623;
  position: absolute;
}

.cog2 .top,.cog2  .down,.cog2  .left,.cog2  .right,.cog2  .left-top,.cog2  .left-down,.cog2  .right-top,.cog2  .right-down{
  background-color: #4f8a8b;
}

.top{
  top:-14vmin;
  left:9vmin;
}

.down{
  bottom:-14vmin;
  left:9vmin;
}

.left{
  left:-14vmin;
  top:9vmin;
}

.right{
  right:-14vmin;
  top:9vmin;
}

.left-top{
  transform:rotateZ(-45deg);
  left:-8vmin;
  top:-8vmin;
}

.left-down{
  transform:rotateZ(45deg);
  left:-8vmin;
  top:25vmin;
}

.right-top{
  transform:rotateZ(45deg);
  right:-8vmin;
  top:-8vmin;
}

.right-down{
  transform:rotateZ(-45deg);
  right:-8vmin;
  top:25vmin;
}

.cog2{
  position: relative;
  left:-10.2vmin;
  bottom:10vmin;
}

/*h1{
  color:#142833;
}
*/
.first-four{
  position: relative;
  left:6vmin;
  font-size:40vmin;
}

.second-four{
  position: relative;
  right:18vmin;
  z-index: -1;
  font-size:40vmin;
}

.wrong-para{
  font-family: "Montserrat", sans-serif;
  position: absolute;
  bottom:15vmin;
  padding:3vmin 12vmin 3vmin 3vmin;
  font-weight:600;
  color:#092532;
}
