{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block content %}
<main class = "about-main">
<div class="auteur">
  <img src="{{asset('assets/images/Auteur.jpg')}}" class = 'auteur' alt="Auteur">
  <div class="banniere"> Présentation</div>
</div>

<div class="about-text">
  <h1> À propos de moi</h1>
  <p>Je suis un développeur web passionné.
      J'ai étudié l'informatique à l'école 3WA.
      Je travaille actuellement en tant que développeur full-stack.
      Cette page est codé en TWIG et CSS sans bootstrap , avec des quelques écouteurs suffisamment de mon niveau en développement web
  </p>
</div>

</main>
{% endblock %}
