{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories !{% endblock %}

{% block content %}
 <h1>Categories</h1>

<div class="categories-container">
{% for category in categories %}
    {% set firstProduct = category.products|first %}
    {% if firstProduct %}
        {% set firstImage = firstProduct.images|first %}
        {% if firstImage %}
            <div class="category-item" id="category-item-{{ loop.index }}">
                <p>{{ category.name }}</p>
                <a href ="#"><img src="{{ asset('assets/images/BDD/Produits/' ~ firstImage.ImagePath) }}" class="category-image"/></a>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}
</div>


{% endblock %}
