{% extends 'base.html.twig' %}

{% block title %}Page de contact {% endblock %}

{% block content %}
<div class="contact-page">
    <h1>Contactez-nous</h1>
    <div class="contact-form-wrapper">
        <form class="contact-form" action="" method="">
            {{ form(formulaire)}}
        </form>
    </div>
</div>
{% endblock %}
