{% extends 'base.html.twig' %}

{% block title %}Commandes passées {% endblock %}

{% block content %}
    <h1>Commandes passées</h1>

    {% if orders is not empty %}
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Reference</th>
                    <th>Created At</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.getId() }}</td>
                        <td>{{ order.getReference() }}</td>
                        <td>{{ order.getCreatedAt()|date('Y-m-d H:i') }}</td>
                        <td>
                            <a href="{{ path('orders_show', {'orderId': order.getId()}) }}">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No order found.</p>
    {% endif %}
{% endblock %}
